.Login_background{
  min-width: 1rem;
  height: 100vh;
  background-image: url('./img/background.png');
  background-position: left top;
  background-size: 1rem 100vh;
}

@keyframes Login_card_move{
  from{
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Login_card_leave{
  from{
    opacity: 1;
    transform: translateY(0);
  }
  to{
    opacity: 0;
    transform: translateY(-0.1rem);
  }
}

.Login_card{
  width: 0.33rem;
  height: 0.33rem;
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.01rem;
  box-shadow: 0.002rem 0.002rem 0.02rem rgba(98, 7, 134, 0.5);
  font-size: 0.01rem;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: Login_card_move 0.5s ease-in-out;
}

.Login_card_leave{
  animation: Login_card_leave 0.5s ease-in-out forwards;
}

.type_trun{
  transform: rotate3d(0,1,0,90deg);
}

.Login_type{
  cursor: pointer;
  color: rgb(112, 30, 101);
  font-size: 0.025rem;
  flex: 1.5;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.form_card{
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form_card div{
  color: rgb(112, 30, 101);
}

.form_card .Login_input{
  width: 0.2rem;
  height: 0.025rem;
  border-radius: 0.025rem / 0.025rem;
  outline: none;
  border: none;
  padding: 0 0.01rem;
  font-size: 0.01rem;
  font-weight: 400;
  color: rgb(102, 99, 99);
  margin: auto 0;
}

.Login_input_other{
  height: 0.025rem;
  width: 0.1rem;
  border-radius: 0.025rem / 0.025rem;
  outline: none;
  border: none;
  font-size: 0.01rem;
  font-weight: 400;
  color: rgb(102, 99, 99);
  padding: 0 0.01rem;
}

.input_test{
  float: right;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.input_test:hover{
  color: rgb(3, 139, 250);
}

.value_error{
  position: relative;
}

div:nth-of-type(1).value_error::after{
  content: '数字,8~12位';
}

div:nth-of-type(2).value_error::after{
  content: '数字/字母/下划线/@/。/. , 8~12位';
}

.value_error::after{
  display: block;
  position: absolute;
  height: 0.01rem;
  line-height: 0.01rem;
  right: 0;
  color: rgb(255, 0, 0);
  transform: scale(0.8,0.8);
  transform-origin: right;
}

.R_text{
  float: right;
  cursor: pointer;
  border: 1px solid black;
}

.R_text:hover{
  color: rgb(3, 139, 250);
}

.type_change span{
  cursor: pointer;
  color: rgb(112, 30, 101);
  font-size: 0.008rem;
}

.type_change span:hover{
  color: rgb(3, 139, 250);
}

.type_change span:nth-of-type(1){
  float: right;
}

.type_change span:nth-of-type(2){
  float: left;
}

.Login_btn{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login_btn > div{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.07rem;
  height: 0.03rem;
  border-radius: 0.03rem/100%; 
  color: white;
  background: rgb(29, 63, 95);
  font-size: 0.01rem;
  transition: background-color 0.3s,box-shadow 0.1s;
}

.Login_btn > div:hover{
  background-color:  rgba(71, 70, 70, 0.4);
}

.Login_btn > div:active{
  box-shadow: 
  0rem 0.001rem 0.002rem rgba(255, 255, 255, 0.7),
  0.001rem 0rem 0.002rem rgba(255, 255, 255, 0.7),
  -0.001rem 0rem 0.002rem  rgba(255, 255, 255, 0.7),
  0rem -0.001rem 0.002rem  rgba(255, 255, 255, 0.7);
}

.spin{
  color: white;
}

@keyframes btn_change{
  from{
    width: 0.07rem;
    height: 0.03rem;
  }
  to {
    background-color:  rgba(206, 205, 205, 0.4);
    width: 0.04rem;
    height: 0.04rem;
    border-radius: 0.04rem;
  }
}

.btn_change{
  animation: btn_change 1s forwards;
}